patch_*
vcpkg
*build*/
.idea
.vscode

# Visual Studio
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
Testing

# Generated headers
*_export.h

# Compiler commands
compile_commands.json

# Python script scratchpads
*.py
!scripts/**/*.py

# Build/coverage artifacts
build_cmake/
build_cov/
build_wasm/
test_build_dir/
out/
reports/
*.log
*.html
docs/html/

# Additional scratch files and artifacts
cmake-build-*
*.o
*.a
*log.txt
patch.cmake
/test_*.c
/test_*.o

# Custom Ignores
*_debug.txt
out.txt
pp.txt
preprocessed.c
pre*.bat
test_20*.bat
test_cmake/
test_patch_repo/
vcpkg_installed/
_deps/
 
# Scratch and log files
append*.txt
mingw_errors*.txt
seed_*.txt
build_output.txt
temp_diff.txt
LANG_DOCS.md
docs/
get_rc.c
get_rc_loader.c
lldb_script.txt
lldb_script2.txt
loader_hacked.c
mkdocs.yml
out.json
payload.json
requirements-docs.txt
scripts/gen_ref_pages.py
sync_header.c
sync_query.c
sync_sig.c
sync_url.c
test.c
fix_docstrings.sh

*.wasm
node_modules/
dist/
build/
__pycache__/
*.so
target/
.idea/
wasi-sdk/
